.tag {
  padding: 2px;
  border-radius: 5px;
}

.multiple {
  margin-left: 10px;
  background-color: tan;
  border-radius: 50%;
  padding: 2px 4px;
  font-size: 12px;
}

.green {
  background: green;
}

.gray {
  background: gray;
}

.yellow {
  background: yellow;
}

.red {
  background: red;
}

.purple {
  background: purple;
}

.orange {
  background: orange;
}

.pink {
  background: pink;
}

.blue {
  background: rgb(76, 76, 226);
}
