:root {
  --bg-dark: #19172f;
  --white: #fff;
  --gray:	#F5F5F5;
  --dark-blue: #222342;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  color: var(--dark-blue, #222342);
}
